
  <!-- Head Section -->
  <section class="small-section bg-dark" data-background="images/full-width-images/section-bg-2.jpg" style="margin-top: 75px;">
      <div class="relative container align-left">
          
          <div class="row">
              
              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">NSoJ News</h1>
                  <div class="hs-line-4 font-alt">
                      <!-- We share our best ideas in our blog -->
                  </div>
              </div>
              
           </div>
          
      </div>
  </section>
  <!-- End Head Section -->


  <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container relative">
            

            <!-- Nav tabs -->
            <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                <li class="active">
                    <a href="#service-news" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-strategy"></span>
                        </div>
                        
                        NSoJ News
                    </a>
                </li>
                <li>
                    <a href="#service-events" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-desktop"></span>
                        </div>
                        
                        Events
                    </a>
                </li>
                <li>
                    <a href="#service-radio" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-tools"></span>
                        </div>
                        
                        NSoJ Radio
                    </a>
                </li>
                <li>
                    <a href="#service-tv" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-gears"></span>
                        </div>
                        
                        NSoJ TV
                    </a>
                </li>
                <li>
                    <a href="#service-blog" >
                        
                        <div class="alt-tabs-icon">
                            <span class="icon-camera"></span>
                        </div>
                        
                        Blog
                    </a>
                </li>
            </ul>
            <!-- End Nav tabs -->

       
        </div>
    </section>
    <!-- End Services Section -->





    <section class="page-section" id="service-news">
        <div class="container relative">
          
          <h2 class="section-title font-alt mb-70 mb-sm-40">
              NSoJ News
          </h2>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laboriosam!

        </div>
    </section>

    <section class="page-section" id="service-events">
        <div class="container relative">

          <h2 class="section-title font-alt mb-70 mb-sm-40">
              Events
          </h2>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laboriosam!

        </div>
    </section>

    <section class="page-section" id="service-radio">
        <div class="container relative">
          <h2 class="section-title font-alt mb-70 mb-sm-40">
              NSoJ Radio
          </h2>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laboriosam!

        </div>
    </section>

    <section class="page-section" id="service-tv">
        <div class="container relative">
          
          <h2 class="section-title font-alt mb-70 mb-sm-40">
              NSoJ TV
          </h2>

          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
            
              <iframe width="100%" src="https://www.youtube.com/embed/eMIlLBlKM_w?rel=0" frameborder="0" allowfullscreen></iframe>
              
          </div>
        
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
              
              <iframe width="100%" src="https://www.youtube.com/embed/pUVDrJQAL04?rel=0" frameborder="0" allowfullscreen></iframe>
              
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-4  mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
              
             <iframe width="100%" src="https://www.youtube.com/embed/PkYQ_Lcz7F0?rel=0" frameborder="0" allowfullscreen></iframe>                               
              
          </div>

        </div>
    </section>

    <section class="page-section" id="service-blog">
        <div class="container relative">
          
          <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
              Blog
              
              <a href="#" class="section-more right">Show all <i class="fa fa-angle-right"></i></a>
              
          </h2>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laboriosam!

        </div>
    </section>






