

<p>Hi <%= @user.name %>,</p>

<p>
 Thank you for your interest in National School of Journalism, Bangalore (NSoJ). Please click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>
	Should you encounter any technical difficulties, please contact us by email (contact@nsoj.in) or call us on +91 80 46994799, +91 9886145610 or +91 98450 31305.
</p>