<section class="page-section pb-20" id="start" style="padding-top: 50px;">
    <div class="container relative">
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 align-center">
                
                <h3 class="font-alt mb-70 mb-sm-40"><img src="<%= image_url("logos/footer.png") %>" width="78" height="36" alt="National School of Journalism, Bangalore" /> Method</h3>
                
                <div class="section-text mb-80 mb-xs-40">
                    Our postgraduate diploma programmes are structured to suit the needs of the media industry. At the same time we factor in developments that are expected to revolutionise the media industry in the next 10 years.<br/><br/>

                    Our environment is designed to allow the student to emerge out of campus mode, leave behind their esoteric cogitations and get down to business. The buzz of a newsroom with all its energy and quick reaction time will envelope NSoJ students, making them a part of the fourth estate the minute they walk in.
                </div>
                                         
            </div>
        </div>

        <div class="alt-service-grid">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="alt-service-wrap">
                        <div class="alt-service-item">
                            <div class="alt-service-icon">
                                <i class="fa fa-life-ring"></i>
                            </div>
                            <h3 class="alt-services-title font-alt">Core Skill Learning </h3>
                            You will acquire skills to confidently enter careers in television, digital radio, newspapers and magazines as well as in convergence media, which is the future of journalism, combining print, photography and video into one digital piece.
                        </div>
                    </div>
                    <div class="alt-service-wrap">
                        <div class="alt-service-item">
                            <div class="alt-service-icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <h3 class="alt-services-title font-alt">Essentials</h3>
                            You will be grounded in the fundamentals of journalism, law and ethics to prepare you for a credible, responsible and solid career in journalism.
                        </div>
                    </div>
                    <div class="alt-service-wrap">
                        <div class="alt-service-item">
                            <div class="alt-service-icon">
                                <i class="fa fa-bug"></i>
                            </div>
                            <h3 class="alt-services-title font-alt"> Newsroom training</h3>
                            Your on-the-job training begins early in the academic year. You will be allowed to try your hand at all forms of media before being tested for aptitude and choosing a specialisation that can only result in a successful career. Pedagogy is designed to factor in the rigours of news gathering from the field; developing a nose for news; production and a strong grounding in ethics.
                        </div>
                    </div>    
                </div>
                
                <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                    <div class="alt-services-image">
                        <img src="<%=asset_path('promo-2.png')%>" alt="National School of Journalism, Bangalore" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="alt-service-wrap">
                        <div class="alt-service-item">
                            <div class="alt-service-icon">
                                <i class="fa fa-camera"></i>
                            </div>
                            <h3 class="alt-services-title font-alt">Beat specialisations</h3>
                            We will shape your perspectives on events and issues that matter, locally, nationally and globally. The areas of special interest at NSoJ are Politics and Society, Business and Finance, and Arts and Culture. You can choose to specialise in one of these areas for your beat. Politicians, bureaucrats, captains of industry, social workers, artists, actors, musicians, chefs, travel gurus and sports personalities will lecture and interact with you.
                        </div>
                    </div>
                    <div class="alt-service-wrap">
                        <div class="alt-service-item">
                            <div class="alt-service-icon">
                                <i class="fa fa-area-chart"></i>
                            </div>
                            <h3 class="alt-services-title font-alt">Live News Portal</h3>
                           You will work on a live news portal and develop skills to produce news videos, blogs, news features, reviews, opinion pieces, in-depth analyses and podcasts, etc.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>