<div class="post-prev-img mb-0">
    <a href="/program" class="mfp-image">
        <img src="<%= asset_path("left_tab/pgp.jpg")%>" alt="" />
    </a>
    <a class="left_tab_title slider-text font-alt" href="/program">Postgraduate Programmes</a>
</div>
<div class="post-prev-img mb-0">
    <a href="/placements" class="mfp-image">
        <img src="<%= asset_path("left_tab/students.png")%>" alt="" />
    </a>
    <a class="left_tab_title slider-text font-alt" href="/placements">Internships and Placements</a>
</div>