<style>.owl-pagination{display: none !important;}</style>
<div class="image-carousel bg-dark" style="/*background: rgb(241, 240, 240);*/ background-color: white; margin: 5px 0;">
    <div style="padding-right: 2px;">
        <div class="post-prev-img mb-0">
            <a href="/program" class="mfp-image">
                <img src="<%= asset_path("slider/events.jpg")%>" alt="" />
            </a>
            <a style="background-color: rgba(0,0,0,0.3); color: white !important;" class="left_tab_title slider-text font-alt" href="/program">Events</a>
        </div>                            
    </div>

    <div style="padding: 0 2px;">
        <div class="post-prev-img mb-0">
            <a href="/why_us#facilities_and_infrastructure" class="mfp-image">
                <img src="<%= asset_path("slider/infra.jpg")%>" alt="" />
            </a>
            <a style="background-color: rgba(0,0,0,0.3); color: white !important;" class="left_tab_title slider-text font-alt" href="/why_us#facilities_and_infrastructure">Infrastructure</a>
        </div>                            
    </div>
    
    <div style="padding-left: 2px;">
        <div class="post-prev-img mb-0">
            <a href="/program" class="mfp-image">
                <img src="<%= asset_path("slider/events.jpg")%>" alt="" />
            </a>
            <a style="background-color: rgba(0,0,0,0.3); color: white !important;" class="left_tab_title slider-text font-alt" href="/program">Events</a>
        </div>                            
    </div>
</div>