<div class="clearfix" style="margin: 70px auto 0 auto; text-align: center;">
    <div class="row mb-10">
        <a href="/nsojpost"><img src=<%= image_path("banners/NSoJ_post_wide.jpg")%> alt="NSoJ Post" style="height: 50px;"/></a>
    </div>

    <div class="row mb-10">
        <strong><%=local_time(Time.now + 330.minutes, '%B %e, %Y')%></strong>
    </div>
    <hr class="bold">
</div>