

	<!-- Home Section -->
    <section class="page-section home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>)' id="home">
        <div class="js-height-parent container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        National School of Journalism
                    </h1>
                    
                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        Admissions
                    </h2>
                    
                   
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->

    <!-- Section -->
    <section class="page-section" id="admission_requirements" style="padding-bottom:0px;">
        <div class="container relative">

            <div class="row section-text">
                <div class="col-md-10 col-md-offset-1">

                    <h4 class="font-alt" >Admission Requirements</h4>
                    <p>Postgraduate Diploma in Journalism programmes in Broadcast Media and in Print & Convergence Media are open to (i) applicants who already have an undergraduate or bachelor's degree or (ii) applicants who are final year undergraduate or bachelor's degree students, who will have completed all requirements towards their degree prior to August 15, 2016.</p>
					<p>The field of journalism thrives on diversity, and benefits from a multiplicity of experiences and viewpoints. We encourage applicants from a wide range of professional and educational backgrounds. Prior education or professional training in journalism is not required. Admissions to National School of Journalism, Bangalore (NSoJ) are very competitive. Our selection panel must choose from a large pool of well-qualified candidates. In evaluating applications, the selectors primarily take into consideration essays submitted as part of the Admission Application and Assessment Form. Selectors will also take into consideration academic and relevant extra-curricular achievements and any prior journalistic work such as published articles, blog posts, podcasts or other broadcast material.</p>
                    
                    <hr class=""/>
                    
                    
					
                    
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Section -->

    <!-- Section -->
    <section class="page-section" id="admission_process" style="padding-top:75px;">
        <div class="container relative">

            <div class="row section-text">
                <div class="col-md-10 col-md-offset-1">  

                    <h4 class="font-alt" > Application Process</h4>
                    <p>Admissions for the postgraduate diploma in journalism (P.G.D.J.) programmes for 2015-16 are closed. The Application process for the academic year 2016-17 will commence in January 2016. We do not think that subjecting candidates to a one-size-fits-all entrance test is the best way to identify journalistic talent. We have instead adopted an admissions process that is used by leading universities in the world. We carefully assess applicants by requiring them to complete and submit an Admission Application and Assessment Form that is designed to draw out applicants' individual strengths, merits and talents.</p>
                    <p>Shortlisted candidates will be informed by e-mail, and will be required to participate in a personal or telephonic interview before an offer of admission can be made.</p>
                    <p>Successful applicants who have not yet been awarded their undergraduate degrees will be given offer letters that are conditional on them completing all requirements towards their degrees by August 15, 2016, i.e., passing all examinations and completing course work.</p>
                    <p>We reserve the right to restrict our intake to less than 60 students if we are unable to identify candidates that meet our standards and requirements.</p>
                    
                    <!-- <hr class="mb-30"/>
                    <h4 class="font-alt" style="padding-top:75px;"> IMPORTANT NOTICE</h4>
                    <p>Completed applications must be accompanied by:</p>
                    <p>(i) a demand draft for Rs.1,000/- which must be made payable to 'National School of Journalism'</p>
                                    OR
                    <p>(ii) acknowledgement of bank transfer of Rs.1,000 to National School of Journalism.</p>
                    
                    <p>
                    Bank transfer details below: <br>
                    Account Name: NSoJ <br>
                    Account Number: 50200007071868 <br>
                    Bank Name: HDFC <br>
                    Branch: Old Airport Road, Bangalore 560 017 <br>
                    IFSC: HDFC0000075 <br>
                    </p>
                
                    <p>Completed Admission and Assessment Application Forms should be sent by Speed Post or courier to:</p>
                    
                    <p>
                    Admissions Office <br>
                    National School of Journalism (NSoJ) <br>
                    2/F NCC Urban Windsor <br>
                    New Airport Road (Opposite Jakkur Aerodrome) <br>
                    Bangalore - 560 064, India <br>
                    Ph: +91 80 4699 4799 <br>
                    Mobile: 98450 31305 <br>
                    </p>
                    
                    <p>After you send the completed Admission and Assessment Application Form, please email your name and dispatch details to admissions@nsoj.in to ensure that we timely receive and process your application.</p> -->
                    
                    <hr class="mb-30"/>
                    
                    <h4 class="font-alt" style="padding-top:75px;">Accommodation</h4>
                     <p>Successful out-station applicants will be provided accommodation assistance.</p>
                    <hr class="mb-30"/>
                    
                    <h4 class="font-alt" style="padding-top:75px;">Admissions Office</h4>
                    
                    <p>
                    National School of Journalism  <br>
                    2/F NCC Urban Windsor <br>
                    New Airport Road (opposite Jakkur Aerodrome) <br>
                    Bangalore - 560 064, India <br>
                    Tel: +91 80 4699 4799 <br>
                    Mobile: 98450 31305 <br>
                    Email: admissions@nsoj.in <br>
                    </p>

                </div>
            </div>
        </div>
    </section>



