

    <!-- Home Section -->
    <section class="small-section bg-dark" data-background="<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>" style="margin-top: 75px;">
      <div class="relative container align-left">
          
          <div class="row">
              
              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><img src=<%= image_path("logo-footer.png") %> width="78" height="36" alt="National School of Journalism, Bangalore" /> Radio</h1>
                  <div class="hs-line-4 font-alt">
                      <!-- We share our best ideas in our blog -->
                  </div>
              </div>
              
           </div>
          
      </div>
  </section>
    <!-- End Home Section -->
    


<section class="page-section">
    <div class="container relative">
        
        <!-- Post Item -->
        <div class="col-sm-12 col-md-12 col-lg-12 mb-50 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238491360&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            
        </div>
        <!-- End Post Item -->
        <!-- Post Item -->
        <div class="col-sm-12 col-md-12 col-lg-12 mb-50 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238491693&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            
        </div>
        <!-- End Post Item -->

        <!-- Post Item -->
        <div class="col-sm-12 col-md-12 col-lg-12 mb-50 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
            
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238487672&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>                                                                  
            
        </div>
        
    </div>
</section>