    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background=<%= asset_path("full-width-images/Digital_Media_Journalism_Courses.png")%> id="home">
        <div class="js-height-parent container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    
                  
                    
                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        NSoJ Events
                    </h2>
                    
                    
                    
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->






    <!-- Portfolio Section -->
    <section class="page-section pb-0">
        <div class="relative">
            
            <!-- Works Filter -->                    
            <div class="works-filter font-alt align-center">
             
                <a href="#" class="filter active" data-filter=".round_table">Aditya sondhi second round table</a>
                <a href="#" class="filter" data-filter=".akkai">Akkai</a>
                <a href="#" class="filter" data-filter=".anita">Anita Nair</a>
                <a href="#" class="filter" data-filter=".debleena_ghosh">Debleena Ghosh</a>
                <a href="#" class="filter" data-filter=".f_round_table">Raghava first round tabel</a>
            </div>                    
            <!-- End Works Filter -->
            
            <!-- Works Grid -->
            <ul class="works-grid clearfix font-alt hover-white hide-titles masonry" id="work-grid">
                <!--  ********************** round table *****************************  -->
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                   
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->



                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->



                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->


                <!-- **************************************end of round table******************************************************  -->


                <!-- **************************************  Akkai images ******************************************************  --> 
                
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix akkai">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix akkai">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
                   

                <!-- ************************************** end of akkai ******************************************************  -->  
                 
                <!-- **************************************  anita images ******************************************************  -->  

              

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix anita">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->    

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix anita">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix anita">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix anita">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix anita">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix anita">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  



                <!-- ************************************** end of anita ******************************************************  -->  



             

                <!-- **************************************   Debleena Ghosh images ******************************************************  --> 


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix debleena_ghosh">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  

                <!-- ************************************** end of Debleena Ghosh ******************************************************  --> 



                <!-- **************************************   Raghava first round tabel images ******************************************************  --> 




                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->  


                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 
                <!-- Work Item (Lightbox) -->
                <li class="work-item mix f_round_table">
                    <a href="images/portfolio/full-project-1.jpg" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="images/portfolio/masonry/projects-7.jpg" alt="Work" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item --> 

                <!-- **************************************   end of round tabel images ******************************************************  --> 




            </ul>
            <!-- End Works Grid -->
            
        </div>
    </section>
    <!-- End Portfolio Section -->

