<div id="home">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3> This Privacy Policy applies to National School of Journalism, Bangalore </h3><br>
          <p> National School of Journalism, India (NSoJ) recognises the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information we collect on http://www.nationalschoolofjournalism.com and other offline sources. This Privacy Policy applies to current and former visitors to our website and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy. </p>
          <p> National School of Journalism is an undertaking of of Purrah News Media LLP, an Indian Limited Liability Partnership registered under the Companies Act, 2013 having its office at 2/F NCC Urban Windsor, New Airport Road, Bangalore 560 064. </p>
          
          <br>
          <h4>Information we collect</h4>
          <p><strong>Contact information.</strong> We might collect your name, email, mobile number, phone number, street, city, state, pincode and country.</p>
          <p><strong>Information you post.</strong> We collect information you post in a public space on our website or on a third-party social media site belonging to National School of Journalism.</p>
          <p><strong>Other information.</strong> If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running. </p>

          <p><strong>We collect information in different ways.</strong></p>
          <p><strong>We collect information directly from you.</strong> We collect information directly from you when you sign up on our website or fill in the contact form. We also collect information if you post a comment on our websites or ask us a question through phone or email.</p><p><strong>We collect information from you passively.</strong> We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website. </p><p><strong>We get information about you from third parties.</strong> For example, if you use an integrated social media feature on our websites. The third-party social media site will give us certain information about you. This could include your name and email address.</p>

          <br>
          <h4>Use of your personal information</h4>
          <p><strong>We use information to contact you.</strong> We might use the information you provide to contact you to ascertain your interest in applying for programmes offered by National School of Journalism. </p>
          <p><strong>We use information for security purposes.</strong> We may use information to protect our company, our customers, or our websites. </p>
          <p><strong>We use information for marketing purposes.</strong> We might send you information about events and developments at National School of Journalism. </p><p>We use information as otherwise permitted by law.</p>

          <br>
          <h4>Sharing of information with third-parties</h4>
          <p><strong>We may share information if we think we have to in order to comply with the law or to protect ourselves.</strong> We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud. </p><p><strong>We may share information with any successor to all or part of our business.</strong> For example, if part of our business is sold we may give our customer list as part of that transaction.</p>
          <p><strong>We may share your information for reasons not described in this policy.</strong> We will tell you before we do this.</p>
           
          <br>
          <h4>Third party sites </h4>
          <p>If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.</p>
          
          <br>
          <h4>Grievance Officer</h4>
          <p>In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below:</p>
          <p style="margin-left: 20px;">
              Mr. Abhishek Paul <br>
              2/F NCC Urban Windsor <br>
              New Airport Road <br>
              Bangalore 560 064 <br>
              Email: paul.abhishek@nsoj.in <br>
          </p>
          
          <br>
          <h4>Jurisdiction</h4>
          <p>If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India. </p>  
        </div>
    </div>
</div>
