    <div style='padding-top:75px;'></div>
    <!-- Home Section -->
    <section class="page-section home-section bg-dark-alfa-70 parallax-2 fixed-height-small" data-background=<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%> style='background-image:url(<%= asset_path("full-width-images/NSOJ_Journalism_School.gif")%>)' id="home">
        <div class="js-height-parent container">
            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        National School of Journalism
                    </h1>
                    
                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        Our Programmes
                    </h2>
                    
                    
                    
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->
	
	<!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">
            
            <h2 class="section-title font-alt align-left mb-40 mb-sm-40">
                Programmes
            </h2>
            
            <div class="section-text">
                <div class="row">
                    
                    <div class="col-md-4 mb-sm-50 mb-xs-30">
                         
                       As a student in our 11-month Postgraduate Diploma in Journalism (P.G.D.J.) programmes, you will learn how to think critically and be an ethical and street smart journalist. Experienced journalists are your instructors, offering one-on-one critiques and intensive feedback on your assignments.
                         
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:0px;">
                       Postgraduate Diploma in Journalism—Broadcast Media</h3>
						In this 11-month P.G.D.J programme you will acquire skills for a career in television, radio and digital broadcast media. This is a hands on course and the students are given ample time in the studio and on-field reporting in order to get a firm grounding in this popular and powerful medium.
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:0px;">
                        Postgraduate Diploma in Journalism—Print & Convergence Media</h3>
						In this 11-month P.G.D.J programme you will be trained for a career in traditional newspaper and magazine journalism as well as in convergence journalism, which is the future of news media, combining print photography and video into one digital piece.
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End About Section -->


    <!-- Section -->
    <section class="page-section" id="broadcast_media">
        <div class="container relative">
            
            <div class="section-text mb-60 mb-sm-40" >
                <div class="row">
                    
                    <div class="col-sm-4 mb-sm-50 mb-xs-30">
                        
                        <h4 class="mt-0 font-alt">P.G.D.J in Broadcast Media</h4>
                        
                        <p>
                            Your journalism education begins with a 10-week skills training module called 'Writing and Reporting'. In the first term, all students take the following courses:
                        </p>
                       
                    </div>
                    
                    <div class="col-sm-8 mb-sm-50 mb-xs-30">
                         
                        <!-- Accordion -->
                        <dl class="accordion">
                            <dt>
                                <a href="">Term 1  July to October</a>
                            </dt>
                            <dd>
                                <p>Your journalism education begins with a 10-week skills training module called 'Writing and Reporting'. In the first term, all students take the following courses:</p>
								 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Television Writing and Reporting Skills</h3>
								<p>You will take classes in voiceovers, scripting, anchoring and making run-downs.</p>
								 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audio-Visual Skills</h3>
								<p>You will take classes in video, audio, photography, and graphics and design.</p>
								 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audience and Engagement Skills</h3>
								<p>You will attend seminars in digital engagement including classes in social media for journalists.</p>
								<p>You will also complete three short courses in the essentials: law, ethics, and the fundamentals of journalism.</p>

								<p>A culmination of the skills and essentials modules comes about when students begin to produce journalistic work on a daily basis for the duration of the programme. Students will put out video broadcasts and podcasts, available to stream live. This work is produced under the mentorship of their pathway instructors. Students are encouraged to compete with local and national media houses on getting scoops and putting out content on our news portal that meets the highest professional journalistic standards.</p>
                            </dd>
                            <dt>
                                <a href="">Term 2  November to February</a>
                            </dt>
                            <dd>
                                <p>The second term allows you to take classes in your areas of interest where you begin to specialize in beats. Our beat specialisations are: (i) Politics & Society; (ii) Business & Finance; and (iii) Arts & Culture. This includes four weeks devoted to digital training, and for six weeks you'll be assigned a beat to learn reporting methods such as how to gather and evaluate information, how to interview people, and how to tell a compelling story in your area of specialisation.</p>
                            </dd>
                            <dt>
                                <a href="">Term 3  March to May</a>
                            </dt>
                            <dd>
                                <p>The final term will combine practical work at NSoJ with external work experience gained through a structured and compulsory internship programme at leading news organizations across India. Each year ends with students working on individual projects that draw from their collective learning over the course of their study. These projects, delivered in broadcast or multimedia, serve as formidable additions to their portfolios. Mentors will help students showcase their work on live news portals.</p>
                            </dd>
                        </dl>
                        <!-- End Accordion -->
                         
                    </div>
                    
                </div>
            </div><br><br><br>
            
        </div>
    </section>
    <!-- End Section -->

    <section class="page-section" id="convergence_media">
        <div class="container relative">
            <div class="section-text mb-60 mb-sm-40" >
                <div class="row">
                    
                    <div class="col-sm-4 mb-sm-50 mb-xs-30">
                        
                        <h4 class="mt-0 font-alt">P.G.D.J in Print and Convergence Media</h4>
                        
                        <p>
                            In this programme you will be trained for a career in traditional newspaper and magazine journalism as well as in convergence media, which is the future of journalism, combining print, photography and video into one digital piece.
                        </p>
                       
                    </div>
                    
                    <div class="col-sm-8 mb-sm-50 mb-xs-30">
                         
                        <!-- Accordion -->
                        <dl class="accordion">
                            <dt>
                                <a href="">Term 1  July to October</a>
                            </dt>
                            <dd>
                                <p>Your journalism education begins with a 10-week skills training module called 'Writing and Reporting'. In the first term, all students take the following courses</p>
                                 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Writing Skills</h3>
                                <p>You will take classes in deadline news, profile writing and feature writing.</p>
                                 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audio-Visual Skills</h3>
                                <p>You will take classes in video, audio, photography, and graphics and design.</p>
                                 <h3 class="section-title font-alt align-left  " style="font-size:14px; margin-top:4px; margin-bottom:0px;">Audience and Engagement Skills</h3>
                                <p>You will attend seminars in digital engagement including classes in social media for journalists.</p>
                                <p>You will also complete three short courses in the essentials: law, ethics, and the fundamentals of journalism.</p>

                                <p>A culmination of the skills and essentials modules comes about when students begin to produce journalistic work on a daily basis for the duration of the programme. Students update our in-house news portal with the latest stories, analyses and videos written and created by them. This work is produced under the mentorship of their pathway instructors. Students are encouraged to compete with local and national media houses on landing scoops and putting out content on the news portal that meets highest professional journalistic standards.</p>
                            </dd>
                            <dt>
                                <a href="">Term 2  November to February</a>
                            </dt>
                            <dd>
                                <p>The second term allows you to take classes in your areas of interest where you begin to specialize in beats. Our beat specialisations are: (i) Politics & Society; (ii) Business & Finance; and (iii) Arts & Culture. This includes four weeks devoted to digital training, and for six weeks you'll be assigned a beat to learn reporting methods such as how to gather and evaluate information, how to interview people, and how to write a compelling story in your area of specialisation.</p>
                            </dd>
                            <dt>
                                <a href="">Term 3  March to May</a>
                            </dt>
                            <dd>
                                <p>The final term will combine practical work at NSoJ with external work experience gained through a structured and compulsory internship programme at leading news organizations across India. Each year ends with students working on individual projects that draw from their collective learning over the course of their study. These projects, delivered in print or multimedia, serve as formidable additions to their portfolios. Mentors will help students publish their their finished work.</p>
                            </dd>
                        </dl>
                        <!-- End Accordion -->
                         
                    </div>
                    
                </div>
            </div>
        </div>
    </section>



