<div class="article-videobox">
    <hr style="border-top: 2px solid #ddd; margin-bottom: 30px;">
    <video muted autoplay loop>
        <source src=<%=@video_box[:src]%> type="video/webm">
    </video>
    <p class="right story-font story-byline plain-font"><%=@video_box[:desc]%></p>
</div>